.cart-overlay__wrapper {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
}

.cart-overlay {
  width: 325px;
  min-height: 150px;
  background-color: #fff;
  padding: 16px;
  position: absolute;
  top: 100%;
  right: 85px;
  z-index: 100;
}

.cart-overlay__title {
  font-size: 16px;
  font-weight: 600;
}
.cart-overlay__title span {
  font-weight: 700;
}

.cart-overlay__item {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
  margin-bottom: 41px;
}

.cart-overlay__info {
  width: 145px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

.cart-overlay__info > div {
  margin-bottom: 15px;
}

.cart-overlay__name {
  font-weight: 300;
}

.cart-overlay__price {
  font-weight: 500;
}


.cart-overlay__image {
  height: 135px;
  width: 105px;
  overflow: hidden;
}

.cart-overlay__image img {
  width: 100%;
  height: auto;
}

.cart-overlay__total,
.cart-overlay__total .cart-overlay__title {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.cart-overlay__buttons {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}

.cart-overlay__btn {
  height: 43px;
  width: 140px;
}

.counter-input {
  width: 24px;
  text-align: center;
  border: none;
}

.counter-input:focus-visible {
    border: none;
    outline: none;
}

.counter-input::-webkit-outer-spin-button,
.counter-input::-webkit-inner-spin-button {
  display: none;
}
